<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Cognitive Living AI</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/predict">Predict</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="container"><div class="jumbotron"> <p>
This is place to put content. You can put slider, short description about your website and place some links for navigation.
</p></div></div>
<h2>Range Sliders <small>Only tested in Chrome!</small></h2>
      <hr/>

      <div class="row">
        <div class="col-xs-6">
          <div class="range">
            <input type="range" name="range" min="1" max="100" value="50" onchange="range.value=value">
            <output id="range">50</output>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="range range-primary">
            <input type="range" name="range" min="1" max="100" value="50" onchange="rangePrimary.value=value">
            <output id="rangePrimary">50</output>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="range range-success">
            <input type="range" name="range" min="1" max="100" value="50" onchange="rangeSuccess.value=value">
            <output id="rangeSuccess">50</output>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="range range-info">
            <input type="range" name="range" min="1" max="100" value="50" onchange="rangeInfo.value=value">
            <output id="rangeInfo">50</output>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="range range-warning">
            <input type="range" name="range" min="1" max="100" value="50" onchange="rangeWarning.value=value">
            <output id="rangeWarning">50</output>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="range range-danger">
            <input type="range" name="range" min="1" max="100" value="50" onchange="rangeDanger.value=value">
            <output id="rangeDanger">50</output>
          </div>
        </div>
      </div>

</body>
</html>